//- layout.pug
//- THis is the templat of the all the pages
doctype html
html
  head
    title Suhel Dance Academy
    block scripts

    block style
  body
    nav#navbar
        ul
            div#logo 
                img(src="/static/img/logo.png")
                | SDA
            li #[a(href="/") Home]
            li #[a(href="/") About ]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer
        | Copyright &copy 2020 suheldanceacademy.com | All rights reserved